[MESSAGES CONTROL]

# W0621 Redefining name %r from outer scope
# W0622 Redefining built-in %r
# R0902 Too many instance attributes (maximal 7 allowed)
# R0903 Too few public methods
# R0904 Too many public methods
# R0911 Too many return statements
# C0103 Invalid name %r
# C0111 Missing docstring
# C0301 Line too long
# C0303 Trailing whitespace
# C0304 Final newline missing
# C0305 Too many trailing newlines
# I0011 Warning locally suppressed using disable-msg
disable=W0621,W0622,R0902,R0903,R0904,R0911,C0103,C0111,C0301,C0303,C0304,C0305,I0011
