[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psutil = "==5.9.5"
attrs = "==22.2.0"
cattrs = "==23.1.2"
jsonschema = "==4.18.4"
typing-inspect = "==0.9.0"
pyyaml = "==6.0"
pygments = "==2.15.1"
python-i18n = "==0.3.9"
# Required for the Python language module
pylint = "==2.17.1"
# Needed for exercise instantiation
# You'll need to install these if you want to use it.
jinja2 = "==3.1.4"
marko = "==2.0.0"

[dev-packages]
pytest = ""
pytest-mock = ""
pytest-cov = ""
pytest-xdist = ""

[requires]
python_version = "3.11"
python_full_version = "3.11.2"
