{#
This file represents all code that will be executed for one text context.
#}
import sys

{{ code_identifier }}_file = open("{{ output_file }}", "w")

{# Indicate the execution will start #}
# Start of execution
sys.stderr.write("--{{ code_identifier }}--")
sys.stdout.write("--{{ code_identifier }}--")
{{ code_identifier }}_file.write("--{{ code_identifier }}--")

import submission

sys.stderr.write("--{{ code_identifier }}--")
sys.stdout.write("--{{ code_identifier }}--")
{{ code_identifier }}_file.write("--{{ code_identifier }}--")

# Start of postprocessing

{#{% for input in additional %}#}
  {# Do the post processing #}
{#  sys.stderr.writeln("--{{ code_identifier }}--")#}
{#  sys.stdout.writeln("--{{ code_identifier }}--")#}
{#  {{ code_identifier }}_file.writeln("--{{ code_identifier }}--")#}
{#{% endfor %}#}
