{#
This file represents all code that will be executed for one text context.
#}
import sys
import values as {{ code_identifier }}_values

{# A third "channel", used to communicate with the runner #}
{{ code_identifier }}_file = open(r"{{ output_file }}", "w")

{# Set the arguments #}
{%- if execution.arguments %}
sys.argv.extend([
{%- for argument in execution.arguments -%}
  {%- include "argument.jinja2" -%}{{ ", " if not loop.last else "" }}
{%- endfor -%}
])
{%- endif -%}
{# Import the code for the first time #}
import submission

{# Handle test cases #}
{% for additional in additionals -%}
sys.stderr.write("--{{ code_identifier }}-- SEP")
sys.stdout.write("--{{ code_identifier }}-- SEP")
{{ code_identifier }}_file.write("--{{ code_identifier }}-- SEP")
{%- with function=additional.input.function %}
{{ code_identifier }}_values.send({{ code_identifier }}_file,
  submission.{% include "function.jinja2" %})
{% endwith %}
{%- endfor %}
{{ code_identifier }}_file.close()
