{#
This file represents all code that will be executed for one text context.
#}
import sys
import traceback

{# A third "channel", used to communicate with the runner #}
{{ code_identifier }}_file = open("{{ output_file }}", "w")

{# Set the arguments #}
{%- if execution.args %}
sys.argv.extend([{{ execution.args | join(', ') }}])
{%- endif -%}
{# Import the code for the first time #}
{#sys.stderr.write("--{{ code_identifier }}-- SEP")#}
{#sys.stdout.write("--{{ code_identifier }}-- SEP")#}
{#{{ code_identifier }}_file.write("--{{ code_identifier }}-- SEP")#}
try:
    import submission
except:
    traceback.print_exc()

{# Handle test cases #}
{% for additional in additionals -%}
sys.stderr.write("--{{ code_identifier }}-- SEP")
sys.stdout.write("--{{ code_identifier }}-- SEP")
{{ code_identifier }}_file.write("--{{ code_identifier }}-- SEP")
try:
{%- with function=additional.input.function %}
    submission.{% include "function.jinja2" %}
{% endwith %}
except:
    traceback.print_exc()
{#sys.stderr.write("--{{ code_identifier }}-- END")#}
{#sys.stdout.write("--{{ code_identifier }}-- END")#}
{#{{ code_identifier }}_file.write("--{{ code_identifier }}-- END")#}
{%- endfor %}
