{# This function generates a function call in Python. #}
{%- if function.type == FunctionType.top -%}
{{ function.name }}
{%- elif function.type == FunctionType.static or function.type == FunctionType.instance -%}
{{ function.object }}.{{ function.name }}
{%- endif -%}(
{%- for argument in function.arguments -%}
  {%- include "argument.jinja2" -%}{{ ", " if not loop.last else "" }}
{%- endfor -%}
)
