{# This function generates a function call in Java. #}
{%- if function.type == FunctionType.static or function.type == FunctionType.instance or function.type == FunctionType.top -%}
    {#- The main object is prepended automatically. -#}
    {%- if function.object -%}
        {{ function.object }}.
    {%- endif -%}
    {{ function.name }}
{%- elif function.type == FunctionType.main -%}
    {{ function.object }}.main
{%- endif -%}(
{%- if function.type == FunctionType.main -%}new String[]{% raw %}{{% endraw %}{%- endif -%}
{%- for argument in function.arguments -%}
    {%- include "argument.jinja2" -%}{{ ", " if not loop.last else "" }}
{%- endfor -%}
{%- if function.type == FunctionType.main -%}}{%- endif -%}
)
